<div class="container mt-5">
    <h2 class="text-success text-center">Mes Commandes</h2>
  
    <div class="orders-section mt-4">
      <div class="order-card" *ngFor="let order of orders">
        <p><strong>Commande #{{ order.id }}</strong></p>
        <p><strong>Date :</strong> {{ order.date | date }}</p>
        <p><strong>Total :</strong> {{ order.total | currency:'EUR' }}</p>
        <button class="btn btn-outline-primary btn-sm" [routerLink]="'/orders/' + order.id">
          Voir les détails
        </button>
      </div>
    </div>
  </div>
  