.product-list-container {
    padding: 2rem 1rem;
    background-color: #f8f9fa; /* Couleur de fond */
  }
  
  /* Catégorie */
  .category-section {
    margin-bottom: 2rem;
  }
  
  .category-section h3 {
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  /* Cartes */
  .card {
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease;
  }
  
  .card:hover {
    transform: scale(1.03);
  }
  
  .product-image {
    height: 200px;
    object-fit: cover;
  }
  
  .card-title {
    font-weight: bold;
    color: #333;
  }
  
  .card-text {
    margin: 0.5rem 0;
  }
  
  .btn-outline-success {
    border-radius: 20px;
  }
  