/* Logo */
.logo {
  width: 10%;
  height: auto;
}

/* Bouton hamburger personnalisé */
.navbar-toggler.custom-toggler {
  border-color: #28a745;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=UTF8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%28220,53,69,1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/* Lien actif */
.nav-link.active {
  font-weight: bold;
  color: #28a745 !important;
}

/* Bouton d'inscription */
.btn-primary {
  background-color: #28a745;
  border: none;
}

.btn-primary:hover {
  background-color: #218838;
}
.navbar-brand {
  font-weight: bold;
  color: #28a745; /* Couleur verte pour refléter le thème biologique */
}